= semantic_form_for @employment do |form|
  = form.inputs do
    = form.input :title, :label => 'Title'
    = form.input :summary, :label => 'Summary'
    = form.input :start_year, :label => 'Start Year'
    = form.input :start_month, :label => 'Start Month'
    = form.input :end_year, :label => 'End Year'
    = form.input :end_month, :label => 'End Month'
    = form.input :is_current, :label => 'Is Current'
    = form.input :company_name, :label => 'Company Name'
  = form.buttons
