= semantic_form_for @translation do |form|
  = form.inputs do
    = form.input :term, :label => 'Term'
    = form.input :phrase, :label => 'Phrase'
    = form.input :priority, :label => 'Priority'
  = form.buttons
