%p
  %b Term:
  = @translation.term_id
%p
  %b Phrase:
  = @translation.phrase_id
%p
  %b Priority:
  = @translation.priority

= link_to 'Edit', edit_translation_path(@translation)
\|
= link_to 'Back', translations_path
