%h1 Listing phrases

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @phrases.each do |phrase|
    %tr
      %td= phrase.name
      %td= link_to 'Show', phrase
      %td= link_to 'Edit', edit_phrase_path(phrase)
      %td= link_to 'Destroy', phrase, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New phrase', new_phrase_path
