= semantic_form_for @school do |form|
  = form.inputs do
    = form.input :name, :label => 'Name'
    = form.input :website, :label => 'Website'
    = form.input :country, :label => 'Country'
    = form.input :region, :label => 'Region'
  = form.buttons
