= semantic_form_for @country do |form|
  = form.inputs do
    = form.input :code, :label => 'Code'
    = form.input :shortname, :label => 'Shortname'
    = form.input :fullname, :label => 'Fullname'
    = form.input :isonumber, :label => 'Isonumber'
  = form.buttons
