= semantic_form_for @city do |form|
  = form.inputs do
    = form.input :name, :label => 'Name'
    = form.input :country, :label => 'Country'
    = form.input :region, :label => 'Region'
  = form.buttons
