= semantic_form_for @education do |form|
  = form.inputs do
    = form.input :school_name, :label => 'School Name'
    = form.input :degree, :label => 'Degree'
    = form.input :field_of_study, :label => 'Field Of Study'
    = form.input :activities, :label => 'Activities'
    = form.input :start_year, :label => 'Start Year'
    = form.input :start_month, :label => 'Start Month'
    = form.input :end_year, :label => 'End Year'
    = form.input :end_month, :label => 'End Month'
  = form.buttons
