= semantic_form_for @region do |form|
  = form.inputs do
    = form.input :name, :label => 'Name'
    = form.input :code, :label => 'Code'
    = form.input :country, :label => 'Country'
  = form.buttons
